form{
    background-color: #999;
    border: 2px solid black;
    width: 300px;
    margin: auto;
    padding: .3em;
}
form > label{
    width: 15%;
}
form > input{
    width: 75%;
}
#buttons{
    text-align: center;
    padding: .3em;
}
#result{
    text-align: center;
}